/* Tags first */
body{
	margin: 0;
	height: 100%;
}

html{
	height: 100%;
	font-family: 'Quicksand';
	font-size: 1.3em;
	background: black;
	color: white;
	cursor: default;
}

input{
	font-family: 'Arvo';
	padding: .5% 5%;
	font-size: 0.8em;
	margin-top: 2%;
	border-radius: 100px;
	border: none;
    outline: none;
}

input[type=text]{
	background: white;
	/*color: hsla(229, 100%, 72%, 1);*/
	color: hsl(11, 56%, 51%);
}

input[type=button]{
	/*background: hsl(36, 56%, 51%);*/
	background: hsl(11, 56%, 51%);
	color: white;
    cursor: pointer;
}

input[type=button].selected{
    border: solid 3px white;
}



/* IDS first */
#background{
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#container{
	position: relative;
	width: 80%;
	max-width: 1200px;
	margin: auto;
	height: 100%
}

#description{
	background: hsla(245, 40%, 56%, 0.4);
	/*	box-shadow: 0 0 10px 5px hsla(245, 40%, 56%, 0.4);*/
}

#language{
	text-align: right;
	padding: .5%;
	color: #67594f;
	background: hsla(0,0%,0%,.1);
	/*font-family: 'Arvo';*/
}
#language span{
	padding: 0 .5%;
}
#language span:hover{
	font-weight: bold;
}
#language span.selected{
	background: hsla(27,7%,52%,.5);
	color: hsla(0,0%,100%,.6);
}

#setup{
	height: inherit;
	width: 60%;
	margin: auto;
}
#setup .maintext{
	background: hsla(17, 29%, 32%, 1);
}

#story{
	height: inherit;
}
#story .maintext{
	background: hsla(245, 40%, 56%, 0.4);
}




/* Classes first */
.button{
	cursor: pointer;
}

.floater{
	position: absolute;
	border-radius: 50%;
}

.maintext{
	color: white;
	padding: 3%;
	margin-top: 5%;
	font-size: 1.5em;
	min-height: 30%;
	/*	box-shadow: 0 0 10px 5px hsla(245, 40%, 56%, 0.4);*/
	border-radius: 2px;
}





/* Game buttons */
.gameButtons{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: 'Arvo';
}
.gameButtons li{
	/*	float: left;
		clear: left;*/
	display: inline-block;
	margin-top: 1%;
	padding: .5% 2%;
    text-align: left;
	border-radius: 10px;
}
.gameButtons li:hover{
	cursor: pointer;
}

#setup .gameButtons{
	text-align: right;
}
#setup .gameButtons li{
	/*width: auto;*/
	background: hsla(32, 12%, 51%, .5);
}
#setup .gameButtons li:hover{
	background: hsla(32, 12%, 51%, 1);
}

#story .gameButtons li{
    width: 96%;
	margin-right: 2%;
	background: hsla(229, 100%, 72%, 0.5);
/*	text-align: right;*/
}
#story .gameButtons li:hover{
	background: hsla(229, 48%, 56%, 1);
}
